DebraEventManagement/Connected Services/AdminServiceRef/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidateAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateAdminResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateAdminSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateAdmin" />
  </wsdl:message>
  <wsdl:message name="ValidateAdminSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateAdminResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminServiceSoap">
    <wsdl:operation name="ValidateAdmin">
      <wsdl:input message="tns:ValidateAdminSoapIn" />
      <wsdl:output message="tns:ValidateAdminSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceSoap" type="tns:AdminServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateAdmin">
      <soap:operation soapAction="http://tempuri.org/ValidateAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminServiceSoap12" type="tns:AdminServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateAdmin">
      <soap12:operation soapAction="http://tempuri.org/ValidateAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="AdminServiceSoap" binding="tns:AdminServiceSoap">
      <soap:address location="https://localhost:44350/AdminService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminServiceSoap12" binding="tns:AdminServiceSoap12">
      <soap12:address location="https://localhost:44350/AdminService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>